{% extends "layout.html" %}

{% block title %}
{% if comment %}
Muokkaa kommenttia
{% else %}
Muokkaa kuvan tietoja
{% endif %}
{% endblock %}

{% block content %}
{% if comment %}
<h2>Muokkaa kommenttia</h2>
<form action="/edit/comment{{ comment.id }}" method="post">
  <p>
    <textarea name="content" rows="5" cols="40" maxlength="2000">{{ comment.content }}</textarea>
  </p>
{% else %}
<h2>Muokkaa kuvan tietoja</h2>
<form action="/edit/{{ post.id }}" method="post">
  <p>
    Otsikko: <input type="text" name="title" value="{{ post.title }}" maxlength="100" required />
  </p>
  <p>
    Teksti:<br />
    <textarea name="description" rows="5" cols="40" maxlength="2000">{{ post.description }}</textarea>
  </p>
  <p>
    Avainsanat (erotettuna toisistaan välilyönneillä tai rivinvaihdoilla):<br />
    <textarea name="tags" rows="2" cols="40" maxlength="500">{% for tag in tags %}{{ tag }} {% endfor %}</textarea>
  </p>
{% endif %}
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Lähetä" />
</form>
{% endblock %}