<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <h1>Kuvagalleria</h1>

  <nav>
    <a href="/">Etusivu</a> | <a href="/search">Haku</a>
    {% if session.user_id %}
    | <a href="/new-post">Lähetä kuva</a>
    {% endif %}

    <span class="user-links">
    {% if session.user_id %}
      <a href="/user/{{ session.user_id }}">{{ session.username }}</a> |
      <a href="/logout">Kirjaudu ulos</a>
    {% else %}
      <a href="/login">Kirjaudu sisään</a> | <a href="/register">Luo tunnus</a>
    {% endif %}
    </span>
  </nav>

  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>

</html>