{% extends "layout.html" %}

{% block title %}Sisäänkirjautuminen{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
<p>
  <b>{{ message }}</b>
</p>
{% endfor %}

<form action="/login" method="post">
  <p>
    Tunnus: <br />
    <input type="text" name="username" value="{{ username }}" />
  </p>
  <p>
    Salasana: <br />
    <input type="password" name="password" />
  </p>
  {% if next_page %}
  <input type="hidden" name="next_page" value="{{ next_page }}" />
  {% else %}
  <input type="hidden" name="next_page" value="/" />
  {% endif %}
  <input type="submit" value="Kirjaudu sisään" />
</form>
{% endblock %}