{% extends "layout.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<h2>{{ post.title }}</h2>

<p>
  <a href="/user/{{ post.user_id }}">{{ post.username }}</a>, {{ post.sent_at }}

    {% if session.user_id == post.user_id %}
    <br />
    <a href="/edit/{{ post.id }}">Muokkaa</a> | <a href="/remove/{{ post.id }}">Poista</a>
  {% endif %}
</p>

<img src="/image/{{ post.image_id }}" />

<p>
  <span class="whitespace">{{ post.description }}</span>
</p>

<hr />
<h3>Avainsanat</h3>

<p>
  {% for tag in tags %}
  <a href="/search?query={{ tag }}&tag_only=true">{{ tag }}</a>
  {% endfor %}
</p>

<hr />
<h3>Kommentit</h3>

{% for comment in comments %}
<div class="comment">
  <p>
    <a href="/user/{{ comment.user_id }}">{{ comment.username }}</a> ({{ comment.sent_at }}):
  </p>
  <p>
    <span class="whitespace">{{ comment.content }}</span>
  </p>

  {% if session.user_id == comment.user_id %}
  <p>
    <a href="/edit/comment{{ comment.id }}">Muokkaa</a> |
    <a href="/remove/comment{{ comment.id }}">Poista</a>
  </p>
  {% endif %}
</div>
{% endfor %}

{% if session.user_id %}
<h4>Uusi kommentti</h4>

<form action="/new-comment" method="post">
  <p>
    <textarea name="content" rows="5" cols="40" maxlength="2000"></textarea>
  </p>
  <input type="hidden" name="post_id" value="{{ post.id }}" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Lähetä" />
</form>
{% endif %}
{% endblock %}