{% extends "layout.html" %}

{% block title %}
{% if comment %}
Poista kommentti
{% else %}
Poista kuva
{% endif %}
{% endblock %}

{% block content %}
{% if comment %}
<h2>Poista kommentti</h2>
<form action="/remove/comment{{ comment.id }}" method="post">
  <p>
    Haluatko varmasti poistaa kommentin?
  </p>
{% else %}
<h2>Poista kuva</h2>
<form action="/remove/{{ post_id }}" method="post">
  <p>
    Haluatko varmasti poistaa kuvan?
  </p>
{% endif %}
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" name="continue" value="Jatka" />
  <input type="submit" name="cancel" value="Peruuta" />
</form>
{% endblock %}