{% extends "layout.html" %}

{% block title %}Haku{% endblock %}

{% block content %}
<h2>Haku</h2>

<form action="/search" method="get">
  <p>
    Hakusanat:
    {% if query %}
    <input type="text" name="query" value="{{ query }}" />
    {% else %}
    <input type="text" name="query" />
    {% endif %}
  </p>
  <p>
    {% if tag_only %}
    <input type="checkbox" name="tag_only" value="true" checked />
    {% else %}
    <input type="checkbox" name="tag_only" value="true" />
    {% endif %}
    Etsi pelkästään avainsanoja
  </p>
  <input type="submit" value="Hae" />
</form>

{% if query %}
<hr />
<h3>Tulokset</h3>

<ul>
{% for result in results %}
  <li class="post">
    <img src="/image/{{ result.image_id }}" />
    <p>
      <a href="/post/{{ result.id }}">{{ result.title }}</a><br />
      {{ result.username }}, {{ result.sent_at }}
    </p>
  </li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}